/* RESET E INIZIALIZZAZIONE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial;
}

/* stile per le icone */

.icon {
    color: #6c757d;
    border: 1px solid #6c757d;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/* modificatori media queries per versione bonus */

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
        margin-left: calc(100% / 5 - 80px);
    }
}